body {  font-family: "Comic Sans MS", Arial, Helvetica; font-size: 10pt; background-color: #FFFFCC}
.table1 {  font-family: "Comic Sans MS", Arial, Helvetica; font-size: 10pt; background-color: #FF9999; border: thin #FFCC99 outset}
.table2 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; border: thin #FFCC99 outset }

